<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yy HH:mm:ss} %boldCyan(%-34.-34thread) %boldGreen(%-15.-15logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LATEST" class="ch.qos.logback.core.FileAppender">
        <file>latest.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%d{dd-MM-yy HH:mm:ss}] [%logger{0}/%level]: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LATEST" />
    </root>
</configuration>